@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

:root{
    --bs-navbar1: 'Poppins', sans-serif;
    --bs-hero-head: 'Poppins', sans-serif;
}

/* Header section */
.contact-number {
    font-family: var(--bs-navbar1);
}
.contact-number figure{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0rem;
}
hr{
    color: #474444;
    height: 1px;
}
.caption small{
    font-family: var(--bs-navbar1);
}

/* navbar */
.navbar{
    padding: 1.5rem 0rem;
}
.navbar ul{
    list-style-type: none;
    margin-bottom: 0rem;
    padding: 0px;
}
.navbar ul li a{
    font-size: 12px;
    font-family: var(--bs-navbar1);
}
.navbar span{
    display:block;
    width:0%;
    height:3px;
    background:#2a2a2a;
    transition:0.3s;
}
.navbar ul li:hover span{
    width: 100%;
}

/* Common CSS */
h1,h2,h3,h4,h5,h6{
    font-family: var(--bs-hero-head);
}
small, p{
    font-family: var(--bs-navbar1);
}

/* Hero-section */
.hero-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)), url(../image/background/header-bg.jpg.webp);
    background-size: cover;
    background-position: center;
    height: auto;
}
.hero-section-content{
    padding: 3rem 0rem;
}
.fade-in{
    animation: fade-in ease 3s;
}
@keyframes fade-in{
    0%{
        opacity: 0;
    }
    50%{
        transform: scale(1.2);
    }
}
.bgblack{
    padding: 1rem;
}
.bgblack p{
    margin-bottom: 0rem;
}
.bgblack:hover{
    background-color: #2a2a2a;
    color: #eeeeee;
    transition: 1s;
}
.BMI-calculation{
    background-color: #f6214b;
    height: auto;
}
.BMI-calculation input{
    background-color: #f6214b;
    outline: transparent;
}
.BMI-calculation input::placeholder{
    color: #eeeeee;
}

.calculation-23 a:hover{
    background-color: #2a2a2a !important;
    color: white;
}
.gym-course:hover{
    transform: scale(1.1);
    transition: 0.4s;
}
.gym-course-1{
    background-image: url(../image/illustrations/Course1.jpg);
    background-size: 100% 100%;
    height: 150px;
    position: relative;
}
.gym-course-2{
    background-image: url(../image/illustrations/Course2.jpg);
    background-size: 100% 100%;
    height: 150px;
    position: relative;
}
.gym-course-3{
    background-image: url(../image/illustrations/Course3.webp);
    background-size: 100% 100%;
    height: 150px;
    position: relative;
}
.gym-course-4{
    background-image: url(../image/illustrations/Course4.jpg);
    background-size: 100% 100%;
    height: 150px;
    position: relative;
}
.gym-course-5{
    background-image: url(../image/illustrations/Course5.jpg);
    background-size: 100% 100%;
    height: 150px;
    position: relative;
}
.gym-course-6{
    background-image: url(../image/illustrations/Course6.jpg);
    background-size: 100% 100%;
    height: 150px;
    position: relative;
}

.gym-course-1 a, .gym-course-2 a, .gym-course-3 a, .gym-course-4 a, .gym-course-5 a, .gym-course-6 a{
    cursor: pointer;
    display: flex;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    text-decoration: none;
    background-color: #f6214b;
    color: #fff;
    padding: 10px 40px;
}

.transaction{
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6)), url(../image/illustrations/callto-bg.jpg.webp);
    background-size: 100% 100%;
}
.transaction small{
    margin-left: 8%;
    text-align: center;
}
.transaction a{
    background-color: #f6214b;
    margin-left: 10%;
}
.course-table .schedule:hover{
    background-color: #f6214b;
}
.purchase:hover{
    background-color: #D60f44;
}
.be-icon i{
    font-size: 35px;
}


.common-repair{
    height: 796px;
}
.pricing-23{
    background-color: #f9f9ff;
}
.back{
    background-image: linear-gradient(rgba(238, 113, 29, 0.945),rgba(194, 85, 85, 0.918));
    width: 80%;
}
.back ul{
    list-style-type: none;
}
.trainers figure img:hover{
    transform: rotate(360deg);
}

@media (min-width: 576px){
    .hero-section-content{
        padding: 4rem;
    }
    .common-repair{
        height: 956px;
    }
    
}
@media (min-width: 768px){
    .hero-section-content{
        padding: 6rem 0rem;
    }
    .BMI-calculation{
        height: auto;
    }
    .transaction a{
        margin-left: 35%;
    }
    .common-repair{
        height: 723px;
    }
}

@media (min-width: 992px){
    .hero-section-content{
        padding: 12.6rem 0rem;
    }
    .bgblack{
        box-shadow: 0px 0px 48px 1px pink !important;
    }
    .BMI-calculation{
        height: auto;
    }
    .gym-course-1, .gym-course-2, .gym-course-3, .gym-course-4, .gym-course-4, .gym-course-5, .gym-course-6{
        height: 200px;
    }
    .common-repair{
        height: 306px;
    }
    .sub-common{
        margin-left: 8%;
    }
    .transaction small{
        margin-left: 30%;
    }
    .transaction a{
        margin-left: 42%;
    }
}
@media (min-width: 1200px){
    .gym-course-1, .gym-course-2, .gym-course-3, .gym-course-4, .gym-course-4, .gym-course-5, .gym-course-6{
        height: 250px;
    }
    .sub-common{
        margin-left: 0% !important;
        padding-left: 0% !important;
    }
}